In [117]:
import pandas as pd
import numpy as np

my_data = pd.read_csv(r"C:\Users\jason\Documents\GitHub\Continuing_Education\Integrating_Tableau_Python_SQL\Data\df_preprocessed.csv")
print(my_data.head())

   Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
0         0         0         0         1            7                1
1         0         0         0         0            7                1
2         0         0         0         1            7                2
3         1         0         0         0            7                3
4         0         0         0         1            7                3

   Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                     289                36   33                  239.554
1                     118                13   50                  239.554
2                     179                51   38                  239.554
3                     279                 5   39                  239.554
4                     289                36   33                  239.554

   Body Mass Index  Education  Children  Pets  Absenteeism Time in Hours
0               30          0         2     1                          4
1               31          0         1     0                          0
2               31          0         0     0                          2
3               24          0         2     0                          4
4               30          0         2     1                          2

In [118]:
print(my_data["Education"].value_counts())

0    583
1    117
Name: Education, dtype: int64

In [119]:
my_data["Absenteeism Time in Hours"].median()

3.0

In [120]:
list_more_than_3 = []
for index, values in enumerate(my_data["Absenteeism Time in Hours"]):
    if values > 3:
        list_more_than_3.append(1)
    elif values <= 3:
        list_more_than_3.append(0)

my_data["Excessive_absenteeism"] = list_more_than_3

print(my_data.head())

   Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
0         0         0         0         1            7                1
1         0         0         0         0            7                1
2         0         0         0         1            7                2
3         1         0         0         0            7                3
4         0         0         0         1            7                3

   Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                     289                36   33                  239.554
1                     118                13   50                  239.554
2                     179                51   38                  239.554
3                     279                 5   39                  239.554
4                     289                36   33                  239.554

   Body Mass Index  Education  Children  Pets  Absenteeism Time in Hours  \
0               30          0         2     1                          4
1               31          0         1     0                          0
2               31          0         0     0                          2
3               24          0         2     0                          4
4               30          0         2     1                          2

   Excessive_absenteeism
0                      1
1                      0
2                      0
3                      1
4                      0

In [121]:
# checkpoint
cp_my_data_after_adding_excessive_absenteeism = my_data

In [122]:
# another way to do this with numpy

targets = np.where(my_data["Absenteeism Time in Hours"] > my_data["Absenteeism Time in Hours"].median(), 1, 0)

check_list = [targets == my_data["Excessive_absenteeism"]]

# There should be no difference found. I typically try and build code before getting to suggestions on the course I am working on. 

for val in check_list:
    if val.any() == False:
        print("Difference found")

In [123]:
# testing to see if my distribution is evenly distributed

print(targets.sum() / targets.shape[0])

0.45571428571428574

In [124]:
# This means that about 45% are ones

In [125]:
data_with_targets = my_data.drop(["Absenteeism Time in Hours"], axis=1)

In [126]:
data_with_targets is my_data

False

In [127]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive_absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [128]:
x_features = data_with_targets.iloc[:, :-1]
print(x_features.head())

   Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
0         0         0         0         1            7                1
1         0         0         0         0            7                1
2         0         0         0         1            7                2
3         1         0         0         0            7                3
4         0         0         0         1            7                3

   Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                     289                36   33                  239.554
1                     118                13   50                  239.554
2                     179                51   38                  239.554
3                     279                 5   39                  239.554
4                     289                36   33                  239.554

   Body Mass Index  Education  Children  Pets
0               30          0         2     1
1               31          0         1     0
2               31          0         0     0
3               24          0         2     0
4               30          0         2     1

In [129]:
y_targets = data_with_targets.iloc[:,-1]
print(y_targets.head())

0    1
1    0
2    0
3    1
4    0
Name: Excessive_absenteeism, dtype: int64

In [130]:
# We need to standardize our y values. 

from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()
absenteeism_scaler.fit(x_features)
StandardScaler(copy=True, with_mean=True, with_std=True)
scaled_inputs = absenteeism_scaler.transform(x_features)

print(scaled_inputs)

[[-0.57735027 -0.09298136 -0.31448545 ... -0.44798003  0.88046927
   0.26848661]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.01928035
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.91902997
  -0.58968976]
 ...
 [ 1.73205081 -0.09298136 -0.31448545 ...  2.23224237 -0.91902997
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ...  2.23224237 -0.91902997
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.01928035
   0.26848661]]

In [131]:
scaled_inputs.shape

(700, 14)

In [132]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(scaled_inputs,targets, test_size = .8, shuffle=True)

In [133]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [134]:
reg = LogisticRegression(n_jobs=-1, verbose=1,)
reg.fit(x_train,y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 24 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 out of   1 | elapsed:    0.2s finished

LogisticRegression(n_jobs=-1, verbose=1)

In [135]:
reg.score(x_train,y_train)

0.7928571428571428

In [136]:
# Building it from scratch
model_outputs = reg.predict(x_train)

In [137]:
model_outputs == y_train

array([ True,  True, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True, False, False,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True, False,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
        True,  True, False, False,  True])

In [138]:
accuracy_array = model_outputs==y_train

In [139]:
print(f"Correct Results: {np.sum((model_outputs==y_train))}")
print(f"Total entries: {model_outputs.shape[0]}")
print(f"Accuracy: {np.sum((model_outputs==y_train))/model_outputs.shape[0]}")

Correct Results: 111
Total entries: 140
Accuracy: 0.7928571428571428

In [140]:
feature_name = x_features.columns.values

summary_table = pd.DataFrame(columns=["Feature"], data=feature_name)

summary_table['Coefficient'] = np.transpose(reg.coef_)

print(summary_table)

                    Feature  Coefficient
0                  Reason_1     1.797394
1                  Reason_2     0.000037
2                  Reason_3     1.118197
3                  Reason_4     1.012192
4               Month Value     0.070678
5           Day of the Week    -0.356854
6    Transportation Expense     0.627391
7          Distance to Work    -0.310192
8                       Age    -0.436648
9   Daily Work Load Average    -0.108670
10          Body Mass Index     0.562971
11                Education    -0.234682
12                 Children     0.554810
13                     Pets    -0.052531

In [141]:
# adding intercept to our rows

summary_table.index = summary_table.index + 1
summary_table.loc[0] = ["Intercept", reg.intercept_[0]]

In [142]:
summary_table = summary_table.sort_index()
print(summary_table)

                    Feature  Coefficient
0                 Intercept    -0.413219
1                  Reason_1     1.797394
2                  Reason_2     0.000037
3                  Reason_3     1.118197
4                  Reason_4     1.012192
5               Month Value     0.070678
6           Day of the Week    -0.356854
7    Transportation Expense     0.627391
8          Distance to Work    -0.310192
9                       Age    -0.436648
10  Daily Work Load Average    -0.108670
11          Body Mass Index     0.562971
12                Education    -0.234682
13                 Children     0.554810
14                     Pets    -0.052531

In [143]:
summary_table["Odds_ratio"] = np.exp(summary_table.Coefficient)

summary_table

                    Feature  Coefficient  Odds_ratio
0                 Intercept    -0.413219    0.661517
1                  Reason_1     1.797394    6.033902
2                  Reason_2     0.000037    1.000037
3                  Reason_3     1.118197    3.059333
4                  Reason_4     1.012192    2.751625
5               Month Value     0.070678    1.073235
6           Day of the Week    -0.356854    0.699875
7    Transportation Expense     0.627391    1.872718
8          Distance to Work    -0.310192    0.733306
9                       Age    -0.436648    0.646199
10  Daily Work Load Average    -0.108670    0.897026
11          Body Mass Index     0.562971    1.755882
12                Education    -0.234682    0.790822
13                 Children     0.554810    1.741609
14                     Pets    -0.052531    0.948825

In [144]:
summary_table = summary_table.sort_values(["Odds_ratio"],ascending=False)
summary_table

                    Feature  Coefficient  Odds_ratio
1                  Reason_1     1.797394    6.033902
3                  Reason_3     1.118197    3.059333
4                  Reason_4     1.012192    2.751625
7    Transportation Expense     0.627391    1.872718
11          Body Mass Index     0.562971    1.755882
13                 Children     0.554810    1.741609
5               Month Value     0.070678    1.073235
2                  Reason_2     0.000037    1.000037
14                     Pets    -0.052531    0.948825
10  Daily Work Load Average    -0.108670    0.897026
12                Education    -0.234682    0.790822
8          Distance to Work    -0.310192    0.733306
6           Day of the Week    -0.356854    0.699875
0                 Intercept    -0.413219    0.661517
9                       Age    -0.436648    0.646199